@charset "utf-8";
body{
    font-family: "맑은 고딕","malgun gothic",sans-serif;
    background: #f6f6f6;
}

*{margin: 0;padding: 0;box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none; color: inherit;}
img{display: block;border: none;}
button{background: none; border: none;cursor: pointer;}

/* header */
.header{
    width: 100%;
    height: 69px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background: #fff;
}
.header h1 a{
    width: 161px;
    height: 33px;
    background: url(../images/logo_app.png) no-repeat;
    text-indent: -99999px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.header .cart{
    width: 27px;
    height: 27px;
    background: url('../images/icon_cart.png')no-repeat center;
    background-size: 27px 27px;
    text-indent: -99999px;
}
.header .all_menu{
    width: 28px;
    height: 24px;
    background: url('../images/ico_mTopetc04.png')no-repeat center;
    text-indent: -99999px;
}

/* 로그인 */
.login{
    width: 100%;
    padding: 30px 18px 18px;
    font-size: 16px;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    gap: 12px;
}
.login p{
    width: 100%;
    font-weight: 600;
}
.login span a{
    font-weight: bold;
    color: #028B3A;
}

/* a슬라이드 */
.visualbox{
    width: 100%;
}
.visualbox .a_slide{
    width: 100%;
}
.visualbox .a_slide li{
    width: 100%;
}
.visualbox .a_slide li a{
    display: block;
    width: 100%;
    position: relative;
}
.visualbox .a_slide li a img{
    width: 100%;
}
.visualbox .a_slide li a .seq{
    width: 55px;
    height: 25px;
    border-radius: 16px;
    background: rgba(0,0,0,0.5);
    color: rgba(255,255,255,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
}
.visualbox .a_slide li a .seq span{
    color: #fff;
}

/* 주문 */
.order{
    width: 100%;
    padding: 12px 18px;
}
.order .orderlist{
    width: 100%;
    display: flex;
    gap: 12px;
}
.order .orderlist li{
    width: 50%;
    height: 138px;
    padding: 20px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1) ;
}
.order .orderlist li a{
    display: block;
    width: 100%;
    height: 100%;
}
.order .orderlist li:first-child a{
    background: url(../images/img_fastsub2.png)no-repeat;
    background-size: 42px 40px;
    background-position: right bottom;
}
.order .orderlist li:last-child a{
    background: url(../images/img_homesub2.png)no-repeat;
    background-size: 42px 32px;
    background-position: right bottom;
}
.order .orderlist li a p{
    font-size: 12px;
    color: #999;
}
.order .orderlist li a h4{
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

/* 주변 매장 */
.location{
    padding: 0 16px;
}
.location .mapbox{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 20px;
    padding: 80px 0;
}
.location .mapbox img{
    width: 40px;
    height: 40px;
}
.location .mapbox p{
    text-align: center;
    font-weight: 700;
    color: #999;
}

/* 배너 */
.banner{
    padding: 18px 15px;
}
.banner .title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}
.banner .title h2{
    font-size: 20px;
    font-weight: bold;
    color: #292929;
}
.banner .title img{
    width: 16px;
}

/* 배너 슬라이드 */
.slick-slide{
    padding: 0 10px;
}
.banner .b_slide{
    width: 100%;
    padding-bottom: 60px;
}
.banner .b_slide li{
    width: 50%;
}
.banner .b_slide li a{
    display: block;
    width: 100%;
    height: 100px;
}
.banner .b_slide li a .imgbox{
    width: 100%;
    border-radius: 12px;
    background: #fff;
    margin-bottom: 14px;
}
.banner .b_slide li a .imgbox img{
    width: 100%;
}
.banner .b_slide li a .txt{
    text-align: center;
}
.banner .b_slide li a .txt h3{
    font-size: 13px;
    font-weight: bold;
    color: #000;
}
.banner .b_slide li a .txt p{
    font-size: 12px;
    color: #999;
}
.banner .b_slide .slick-dots{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,-50%);
    display: flex;
    gap: 8px;
}
.banner .b_slide .slick-dots li button{
    width: 6px;
    height: 6px;
    background: #bdbdbd;
    text-indent: -99999px;
    border-radius: 100%;
}
.banner .b_slide .slick-dots li.slick-active button{
    background: #028B3A;
}

/* 써브카드 */
.subcard{
    width: 100%;
    padding: 18px;
}
.subcard h2{
    font-size: 20px;
    font-weight: bold;
    color: #292929;
}
.subcard ul{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 14px;
}
.subcard ul li{
    width: 48%;
    height: 108px;
    border-radius: 12px;
    background: #fff;
}
.subcard ul li a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.subcard ul li a .imgbox{
    width: 60px;
    height: 40px;
}
.subcard ul li a .imgbox img{
    width: 100%;
    height: 100%;
}
.subcard ul li a h4{
    color: #000;
    margin-top: 8px;
    text-align: center;
}

/* 모바일 메뉴 사이드 */
.m_side_wrap{
    /* 전체에서 30px 뺀 만큼 */
    width: calc( 100% - 30px);
    height: 100%;
    background: #f6f6f6;
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 100;
    overflow-y: auto;
}
.m_side_wrap .m_login{
    width: 100%;
    background: #009223;
    padding: 16px 16px 94px;
}
.m_side_wrap .m_login .m_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.m_side_wrap .m_login .m_header h1 a{
    display: block;
    width: 88px;
    height: 18px;
    background: url(../images/logo_sidemenu.png)no-repeat;
    background-size: 88px;
    text-indent: -99999px;
}
.m_side_wrap .m_login .m_header ul{
    display: flex;
    align-items: center;
}
.m_side_wrap .m_login .m_header ul li a{
    display: block;
    width: 40px;
    height: 40px;
    text-indent: -99999px;
}
.m_side_wrap .m_login .m_header ul li:first-child a{
    background: url(../images/icon_setting.png)no-repeat;
    background-size: 40px;
}
.m_side_wrap .m_login .m_header ul li:last-child a{
    background: url(../images/icon_sidemenu_close_02.png)no-repeat center;
    background-size: 30px;
}
.m_side_wrap .m_login p{
    font-size: 19px;
    color: #fff;
    line-height: 26px;
    margin-top: 24px;
}
.m_side_wrap .m_login .loginbtn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.m_side_wrap .m_login .loginbtn li{
    width: 48%;
}
.m_side_wrap .m_login .loginbtn li a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    padding: 15px;
    font-weight: 700;
}
.m_side_wrap .m_login .loginbtn li:first-child a{
    background: #FFC300;
    color: #fff;
}
.m_side_wrap .m_login .loginbtn li:last-child a{
    background: #fff;
    color: #333;
}
.m_side_wrap .m_login .inq{
    width: 100%;
    padding: 15px;
    border-radius: 999px;
    background: #62CE08;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    margin-top: 12px;
}
.m_side_wrap .quick_menu{
    width: 100%;
    padding: 0 16px;
    position: relative;
}
.m_side_wrap .quick_menu ul{
    width: calc(100% - 32px);
    background: #fff;
    padding: 25px;
    border-radius: 28px 0;
    display: flex;
    flex-flow: wrap;
    gap: 24px 0;
    justify-content: space-evenly;
    position: absolute;
    left: 50%;
    top: -45px;
    transform: translateX(-50%);
}
.m_side_wrap .quick_menu ul li{
    width: 31%;
    text-align: center;
}
.m_side_wrap .quick_menu ul li a{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    box-sizing: content-box;
}
.m_side_wrap .quick_menu ul li a img{
    width: 40px;
}
.m_side_wrap .quick_menu ul li a h4{
    font-size: 12px;
    font-weight: bold;
    color: #333;
    margin-top: 4px;
}
.m_side_wrap .m_gnb{
    width: 100%;
    position: relative;
}
.m_side_wrap .m_gnb>ul{
    width: calc(100% - 32px);
    border-radius: 28px 0;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 180px;
    transform: translateX(-50%);
}
.m_side_wrap .m_gnb>ul>li{
    border-bottom: 3px solid #f6f6f6;
}
.m_side_wrap .m_gnb>ul>li>a{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 22px;
    position: relative;
}
.m_side_wrap .m_gnb>ul>li>a::after{
    content: '';
    width: 10px;
    height: 10px;
    border: 2px solid #bbb;
    border-top: none;
    border-left: none;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    transition: all 0.3s ease-in-out;
}
.m_side_wrap .m_gnb>ul>li>a.on::after{
    border: 2px solid #009223;
    border-top: none;
    border-left: none;
    transform: translateY(-50%) rotate(225deg);
}
.m_side_wrap .m_gnb>ul>li>a img{
    width: 26px;
    height: 26px;
}
.m_side_wrap .m_gnb>ul>li>a h3{
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
.m_side_wrap .m_gnb>ul>li>.depth2{
    width: 100%;
    padding: 24px 0;
    display: flex;
    flex-flow: column;
    gap: 4px;
    display: none;
}
.m_side_wrap .m_gnb>ul>li>.depth2 li{
    width: 100%;
    height: 28px;
}
.m_side_wrap .m_gnb>ul>li>.depth2 li a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333;
    text-indent: 64px;
}

.cover{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    position: absolute;
    top: 0;
    display: none;
}


.tabbar{
    width: 100%;
    height: 80px;
    background: url('../images/navi_bg.png') no-repeat;
    background-size: 100% 80px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 100;
}

.left_icon{
    display: flex;
}
.right_icon{
    display: flex;
    justify-content: right;
}
.tab_nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.tab_nav ul{
    width: 50%;
    height: 100%;
}
.tab_nav ul li{
    width: 40%;
    height: 100%;
}
.tab_nav ul li a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #c9c9c9;
}
.tab_nav .left_icon li a svg{
    fill: #c9c9c9;
}
.tab_nav .right_icon li a svg{
    stroke: #c9c9c9;
}

.tab_nav .left_icon li.on a svg,
.tab_nav .left_icon li.on a span{
    fill: #009223;
    stroke: #009223;
    color: #009223;
}
.tab_nav .right_icon li.on a svg,
.tab_nav .right_icon li.on a span{
    stroke: #009223;
    color: #009223;
}

.btn_order{
    width: 82px;
    height: 82px;
    border-radius: 100%;
    border: 14px solid rgba(0,0,0,0);
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%,-50%);
    background: #fff;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.btn_order img{
    width: 32px;
    height: 32px;
}
.btn_order span{
    font-size: 12px;
}
.popup{
    background: #ffc20c;
    padding: 10px 10px 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 900;
}
.popup a img{
    width: 100%;
    min-width: 320px;
}
.popup .close{
    height: 30px;
}
.popup .close form{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}
.popup .close label{
    cursor: pointer;
}
.popup .close #today_close{
    vertical-align: middle;
}