@charset "utf-8";
body{

}
*{margin: 0;padding: 0;}

.wrap1{
    width: 1000px;
    height: 300px;
    border: 1px solid blue;
    margin: 0 auto 200px;
    position: relative;
}
.wrap1 .box1{
    width: 100px;
    height: 100px;
    background: pink;
    position: absolute;
    left: 0;
    top: 0;
    animation: box1_ani 3s ease-in-out forwards infinite;
}

@keyframes box1_ani {
    0%{left: 0; top: 0;}
    25%{left: 900px; top: 0;}
    50%{left: 900px; top: 200px;}
    75%{left: 0; top: 200px;}
    100%{top: 0; top: 0;}
}

.wrap2{
    width: 1000px;
    height: 300px;
    border: 1px solid orange;
    box-sizing: border-box;
    margin: auto;
    position: relative;
}
.wrap2 .box2{
    width: 100px;
    height: 100px;
    background: yellow;
    position: absolute;
    left: 0;
    top: 0;
    animation: box2_ani 4s ease-in-out forwards;
}

@keyframes box2_ani {
    0%{left: 0; top: 0;}
    20%{left: 1000px; top: 0;}
    40%{left: 1000px; top: 300px;}
    60%{left: 0; top: 300px;}
    80%{left: 0; top: 0;}
    100%{left: -102px; top: 0;}
}