/* 모바일 메뉴 */
.m__menu--wrap{
    display: none;
}

/* header */
header {
    width: 100%;
    height: 70px;
    background: #fff;
}
.header__inner {
    width: 960px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    z-index: 50;
}
h1 {
    width: 116px;
    height: 22px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
}
h1 a {
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/logo.png")no-repeat;
    text-indent: -99999px;
}
.header__gnb {
    height: 100%;
    display: flex;
    gap: 40px;
    /* 첫자 대문자 만들기 */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    color: #777;
    text-transform: capitalize;
}
.header__gnb>li {
    height: 100%;
    position: relative;
}
.header__gnb>li>a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

/* depth2 */
.header__gnb>li>.depth2 {
    width: 200px;
    position: absolute;
    left: 50%;
    top: 70px;
    transform: translateX(-50%);
    background: #F57421 url('../images/sub_cur.png')no-repeat top center;
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
    display: none;
}
.header__gnb>.depth2>li>a{
    font-size: 12px;
    color: #fff;
}
.header__gnb>.depth2>li>a:hover {
    text-decoration: underline;
}

/* header icon */
#header__icon--m_btn {
    display: none;
}
#header__icon--cart {
    display: block;
    width: 76px;
    height: 22px;
    background: url("../images/btn_lf_ot.png")no-repeat;
    text-indent: -99999px;
}

/* main */
main {
    width: 100%;
    padding: 0 15px;
    /* 영어 대문자로 */
    text-transform: uppercase;
}

/* swiper */
.swiper {
    width: 100%;
    padding-bottom: 40px;
}
.swiper img {
    width: 100%;
    object-fit: cover;
}
.swiper-button-prev:after {
    width: 50px;
    height: 50px;
    background: url('../images/btn_left.png')no-repeat;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    text-indent: -99999px;
}
.swiper-button-next:after {
    width: 50px;
    height: 50px;
    background: url('../images/btn_right.png')no-repeat;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    text-indent: -99999px;
}
.swiper-pagination-bullet,
.swiper-pagination-bullet-active{
    width: 60px;
    height: 5px;
    border-radius: 0;
}
.swiper-pagination-bullet{
    background: #000;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background: #F57421;
}

/* title */
.main__title{
    text-align: center;
    padding: 20px 0;
}
.main__title h2 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -1px;
}
.main__title p {
    font-size: 16px;
    color: #666;
    line-height: 26px;
    padding: 20px 0;
}
.main__title .show {
    display: none;
}
.main__title .hidden {
    font-style: normal;
}
.main__title span {
    font-weight: 700;
}

/* content */
.main__content{
    width: 100%;
    border-top: 10px solid #F57421;
}
.main__content--list{
    width: 100%;
    display: flex;
    flex-flow: wrap;
}
.main__content--list li{
    width: 50%;
}
.main__content--list li:nth-child(3),
.main__content--list li:nth-child(4),
.main__content--list li:last-child{
    width: calc(100%/3);
}
.main__content--list img{
    width: 100%;
    object-fit: cover;
}

/* snslive */
.main__snslive{
    width: 100%;
    background: #ececec;
    padding: 50px;
}
.main__snslive h2{ 
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    padding: 25px 0 40px;
}
.main__snslive span{
    color: #F57421;
}
.main__snslive--list{
    display: flex;
    flex-flow: wrap;
}
.main__snslive--list li{
    width: calc(100%/4);
    position: relative;
}
.main__snslive--list li::before{
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.main__snslive--list .blog::before{
    background: url('../images/cover_blog.png')no-repeat center;
}
.main__snslive--list .facebook::before{
    background: url('../images/cover_facebook.png')no-repeat center;
}
.main__snslive--list li:hover::before{
    width: 100%;
    left: 0;
}
.main__snslive--list img{
    width: 100%;
}

/* footer */
footer{
    width: 100%;
    padding: 30px 15px;
}
.footer__top{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    text-transform: uppercase;
}
.footer__menu{
    display: flex;
    align-items: center;
    gap: 15px;
    color: #666;
}
.footer__menu li{
    position: relative;
}
.footer__menu li::after{
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: #ADADAD;
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}
.footer__menu li:last-child::after{
    display: none;
}
.footer__menu li a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.footer__btn{
    display: flex;
    gap: 16px;
    position: relative;
}
.footer__btn span{
    display: flex;
    align-items: center;
    gap: 4px;
}
.footer__btn span img{
    width: 20px;
    height: 15px;
}
.footer__btn--familysite{
    width: 155px;
    height: 28px;
    border: 1px solid #000;
    background: #fff url('../images/btn_select.png')no-repeat right center;
    background-position-y: 0;
    text-align: left;
    text-indent: 10px;
    text-transform: uppercase;
}
.footer__btn--familysite.on{
    background-position-y: -23px;
}
.footer__btn--list{
    width: 155px;
    position: absolute;
    right: 0;
    bottom: 27px;
    background: #fff;
    border: 1px solid #000;
    display: none;
}
.footer__btn--list li{
    width: 100%;
    height: 28px;
    text-indent: 10px;
}
.footer__btn--list li a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #666;
}
.footer__btn--list li:hover a{
    background: #eee;
    color: #111;
}
.footer__copy{
    font-size: 12px;
    color: #999;
}