@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body{font-family: arial, "Noto Sans KR", sans-serif;}
*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
button{border: none;background: none;cursor: pointer;}

.header{
    width: 100%;
    height: 72px;
}
.header .inner{
    width: 1000px;
    height: 72px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.line{
    width: 100%;
    height: 4px;
    background: url("../images/bg_mgnb_01.gif") no-repeat;
}
.main{
    width: 100%;
    height: 2200px;
}
.footer{
    width: 100%;
    height: 119px;
    background: #f8f8f8;
    border-top: 1px solid #ddd;
}
.footer .inner{
    width: 1000px;
    height: 119px;
    /* background: gold; */
    margin: auto;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.footer .inner .wrap ul{
    width: 610px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 13px;
}
.footer .inner .wrap ul li a{
    font-size: 12px;
    color: #5e5e5e;
    /* 자간 */
    letter-spacing: -1px;
}
.footer .inner .wrap ul li:first-child a,
.footer .inner .wrap ul li:nth-child(2) a,
.footer .inner .wrap ul li:nth-child(3) a,
.footer .inner .wrap ul li:nth-child(8) a,
.footer .inner .wrap ul li:last-child a{
    color: #225278;
    font-weight: 500;
}
.footer .inner .wrap p{
    font-size: 12px;
    color: #5e5e5e;
    margin-top: 14px;
}
.footer .inner .group{
    display: flex;
    gap: 6px;
}
.footer .inner .group div button{
    width: 140px;
    height: 25px;
    border: 1px solid #c8c8c8;
    font-size: 13px;
    color: #777;
    text-align: left;
    text-indent: 8px;
    background: #fff url("../images/ico_sel_arr.gif") no-repeat 90% center;
}
.footer .inner .group .family2{
    position: relative;
}
.footer .inner .group .family2 ul{
    width: 140px;
    border: 1px solid #c8c8c8;
    box-sizing: border-box;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 58px;
    text-indent: 10px;
    /* 화면에서 해당요소를 숨김 */
    display: none;
    height: 100px;
    overflow: auto;
}
.footer .inner .group .family2 ul li a{
    font-size: 13px;
    color: #777;
}
.footer .inner .group .family2 ul li:hover a{
    color: #333;
    font-weight: 700;
}
.footer .inner .group .family2:hover ul{
    display: block;
}
.footer .inner .group .family1{
    position: relative;
}
.footer .inner .group .family1 ul{
    width: 140px;
    height: 100px;
    border: 1px solid #c8c8c8;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 58px;
    text-indent: 10px;
    overflow: auto;
    display: none;
}
.footer .inner .group .family1:hover ul{
    display: block;
}
.footer .inner .group .family1 ul li:hover a{
    color: #333;
    font-weight: 700;
}
.footer .inner .group .family1 ul li a{
    font-size: 13px;
    color: #777;
}