@charset "utf-8";
body{

}
*{margin: 0;padding: 0;}
.box{
    width: 500px;
    height: 250px;
    background: #fffa00;
    border: 10px solid #325F3E;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -125px 0 0 -250px;
    overflow: auto;
}
.box .red{
    width: 200px;
    height: 400px;
    background: #FF6766;
    position: absolute;
    left: 50px;
    top: 50px;
}
.box .green{
    width: 200px;
    height: 400px;
    background: #9AFE66;
    position: absolute;
    left: 100px;
    top: 100px;
}
.box .blue{
    width: 200px;
    height: 400px;
    background: #0066CB;
    position: absolute;
    left: 150px;
    top: 150px;
}