/* 팝업창 */
.popup{
    width: 100%;
    height: 90px;
    position: relative;
}
.popup__inner{
    width: 100%;
    height: 100%;
}
.popup__inner a{
    display: block;
    width: 100%;
    height: 100%;
    background: url('../images/mi98fTZd30jphbrs_20241126.jpg') no-repeat center;
    background-size: cover;
}
.popup__btn--close{
    width: 19px;
    height: 19px;
    font-size: 0;
    background: url('../images/btn_top_banner_close.png') no-repeat;
    position: absolute;
    left: 50%;
    margin-left: 470px;
    top: 10px;
}

/* main */
main{
    width: 100%;
}

/* slide */
.main__slide{
    width: 100%;
    height: 625px;
    position: relative;
}
.main__slide div{
    width: 100%;
    height: 100%;
}
.main__slide div a{
    display: block;
    width: 100%;
    height: 100%;
}
.main__slide--1 a{
    background: url('../images/8YyVQIrODNJExkM9_20240405.jpg')no-repeat center;
    background-size: cover;
}
.main__slide--2 a{
    background: url('../images/A0qi1eb9wvEGxnmX_20230719.jpg')no-repeat center;
    background-size: cover;
}
.main__slide--3 a{
    background: url('../images/boO8MUInqa6CPQcJ_20230925.png')no-repeat center;
    background-size: cover;
}
.main__slide--4 a{
    background: url('../images/krH2CMoaZQ6pOEjJ_20241126.jpg')no-repeat center;
    background-size: cover;
}
.main__slide--5 a{
    background: url('../images/sMkbYCLarlo0f7Ow_20160204.jpg')no-repeat center;
    background-size: cover;
}

/* slide btn */
.main__slide .slick-prev{
    font-size: 0;
    width: 45px;
    height: 89px;
    background: url('../images/main_visual_prev.png');
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -555px;
    transform: translate(-50%,-50%);
    z-index: 10;
}
.main__slide .slick-next{
    font-size: 0;
    width: 45px;
    height: 89px;
    background: url('../images/main_visual_next.png');
    position: absolute;
    top: 50%;
    right: 50%;
    margin-right: -600px;
    transform: translate(-50%,-50%);
    z-index: 10;
}
.main__slide .slick-dots{
    display: flex;
    gap: 4px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}
.main__slide .slick-dots button{
    width: 18px;
    height: 18px;
    background: url('../images/main_visual_pager_off.png') no-repeat;
    font-size: 0;
}
.main__slide .slick-dots .slick-active button{
    background: url('../images/main_visual_pager_on.png') no-repeat;
}

/* section1 */
#section1{
    width: 100%;
    padding: 60px 0;
}
.section1__inner{
    width: 1000px;
    margin: auto;
    display: flex;
    text-align: center;
}
.section1__mall,
.section1__find{
    flex-grow: 1;
}
.section1__members{
    width: 460px;
    height: 416px;
}
.section1__inner div h2{
    font-size: 30px;
    color: #333;
}
.section1__inner div p{
    font-size: 14px;
    color: #565656;
    margin: 20px 0;
}
.section1__inner div img{
    display: inline-block;
}

/* section2 */
#section2{
    width: 100%;
    padding: 55px 0 95px;
    background: #F5F1E8;
}
.section2__inner{
    width: 1000px;
    margin: auto;
    text-align: center;
}
.section2__inner h2{
    font-size: 36px;
    font-weight: bold;
    color: #454545;
    background: url('../images/main_menu_title_line.png') no-repeat center;
    margin-bottom: 50px;
}
.section2__inner h2 span{
    font-weight: lighter;
}
.section2__product--wrap{
    display: flex;
    justify-content: space-between;
}
.section2__product--new{
    width: 536px;
}
.section2__product--best{
    flex-grow: 1;
    display: flex;
    gap: 10px;
    flex-flow: wrap;
    justify-content: flex-end;
}
.section2__product--best li{
    width: 205px;
    background: #fff;
    position: relative;
}
.section2__product--best li::after{
    content: '';
    width: 100%;
    height: 100%;
    border: 5px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}
.section2__product--best li:hover::after{
    border: 5px solid #FFB410;
    cursor: pointer;
}
.section2__product--best li .product{
    width: 100%;
}
.section2__product--best li a{
    position: relative;
}
.section2__product--best li .new{
    width: 34px;
    height: 33px;
    position: absolute;
    top: 15px;
    right: 15px;
}
.section2__product--best .info{
    padding: 16px 0;
}
.section2__product--best .info h3{
    font-size: 16px;
    color: #565656;
}
.section2__product--best .info h4{
    font-size: 14px;
    font-weight: 400;
    color: #666;
}

/* section3 */
#section3{
    width: 100%;
    background: #413332;
}
.section3__inner{
    width: 1000px;
    padding: 55px 0 42px;
    margin: auto;
    display: flex;
    position: relative;
}
.section3__txt h2{
    font-size: 32px;
    color: #fff;
}
.section3__txt h2 span{
    font-weight: 400;
}
.section3__txt p{
    font-size: 14px;
    color: rgba(255,255,255,0.5);
    margin: 18px 0 28px;
}
.section3__txt a{
    padding: 8px 12px;
    background: #1F191B;
    font-size: 12px;
    color: #ccc;
}
.section3__img{
    position: absolute;
    bottom: 0;
    right: 0;
}

/* section4 */
#section4{
    width: 100%;
    padding: 80px 0;
}
.section4__inner{
    width: 1000px;
    height: 410px;
    margin: auto;
    display: flex;
}
.section4__bannerslide{
    width: 250px;
}
/* section4 slide */
.section4__bannerslide .slick-dots{
    display: flex;
    gap: 4px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}
.section4__bannerslide .slick-dots button{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: #8D9798;
    font-size: 0;
}
.section4__bannerslide .slick-dots .slick-active button{
    border-radius: 100%;
    background: #9564B5;
}

.section4__center--wrap{
    width: 270px;
}
.section4__center--wrap div{
    width: 100%;
    height: 50%;
    padding: 40px 0 0 30px;
}
.section4__inner div a h3{
    font-size: 27px;
    margin-bottom: 24px;
}
.section4__inner div a p{
    font-size: 13px;
    letter-spacing: -1px;
}
/* 사회공헌 */
.section4__center--top{
    background: #6C5648 url('../images/btn_main_article_type1.png') no-repeat 90% 20%;
    color: #fff;
}
.section4__center--top p{
    color: rgba(255,255,255,0.5);
}
/* recruit */
.section4__center--bottom{
    background: #F7F7F7 url('../images/btn_main_article_type2.png') no-repeat 90% 20%;
    color: #565656;
}
.section4__center--bottom{
    color: #666;
}
/* section4 right */
.section4__right{
    width: 480px;
    background: url('../images/main_article_section3.jpg') no-repeat;
    background-size: cover;
    position: relative;
}
.section4__right--inside{
    width: 50%;
    height: 50%;
    padding: 30px 0 0 30px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: #424242 url('../images/btn_main_article_type2.png') no-repeat 90% 20%;
    color: #fff;
}

/* section5 */
#section5{
    width: 100%;
    padding: 60px 0;
    background: #f1f1f1;
    text-transform: uppercase;
}
.section5__inner{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}
.section5__tab{
    width: 100%;
    height: 54px;
    display: flex;
    gap: 2px;
    border-bottom: 2px solid #565656;
}
.section5__tab li{
    width: 240px;
    height: 100%;
    margin-left: -4px;
}
.section5__tab li:last-child{
    margin-left: 0;
}
.section5__tab li a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #666;
    border: 2px solid #E2E2E2;
    border-bottom: none;
}
.section5__tab li.on a{
    height: 54px;
    border: 2px solid #565656;
    border-bottom: none;
    position: relative;
    background: #f1f1f1;
}