

/* 모바일 메뉴 사이드 */
.m_side_wrap{
    /* 전체에서 30px 뺀 만큼 */
    width: calc( 100% - 30px);
    height: 100%;
    background: #f6f6f6;
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 100;
    overflow-y: auto;
}
.m_side_wrap .m_login{
    width: 100%;
    background: #009223;
    padding: 16px 16px 94px;
}
.m_side_wrap .m_login .m_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.m_side_wrap .m_login .m_header h1 a{
    display: block;
    width: 88px;
    height: 18px;
    background: url('../images/logo_sidemenu.png')no-repeat;
    background-size: 88px;
    text-indent: -99999px;
}
.m_side_wrap .m_login .m_header ul{
    display: flex;
    align-items: center;
}
.m_side_wrap .m_login .m_header ul li a{
    display: block;
    width: 40px;
    height: 40px;
    text-indent: -99999px;
}
.m_side_wrap .m_login .m_header ul li:first-child a{
    background: url('../images/icon_setting.png')no-repeat;
    background-size: 40px;
}
.m_side_wrap .m_login .m_header ul li:last-child a{
    background: url('../images/icon_sidemenu_close_02.png')no-repeat center;
    background-size: 30px;
}
.m_side_wrap .m_login p{
    font-size: 19px;
    color: #fff;
    line-height: 26px;
    margin-top: 24px;
}
.m_side_wrap .m_login .loginbtn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.m_side_wrap .m_login .loginbtn li{
    width: 48%;
}
.m_side_wrap .m_login .loginbtn li a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    padding: 15px;
    font-weight: 700;
}
.m_side_wrap .m_login .loginbtn li:first-child a{
    background: #FFC300;
    color: #fff;
}
.m_side_wrap .m_login .loginbtn li:last-child a{
    background: #fff;
    color: #333;
}
.m_side_wrap .m_login .inq{
    width: 100%;
    padding: 15px;
    border-radius: 999px;
    background: #62CE08;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    margin-top: 12px;
}
.m_side_wrap .quick_menu{
    width: 100%;
    padding: 0 16px;
    position: relative;
}
.m_side_wrap .quick_menu ul{
    width: calc(100% - 32px);
    background: #fff;
    padding: 25px;
    border-radius: 28px 0;
    display: flex;
    flex-flow: wrap;
    gap: 24px 0;
    justify-content: space-evenly;
    position: absolute;
    left: 50%;
    top: -45px;
    transform: translateX(-50%);
}
.m_side_wrap .quick_menu ul li{
    width: 31%;
    text-align: center;
}
.m_side_wrap .quick_menu ul li a{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    box-sizing: content-box;
}
.m_side_wrap .quick_menu ul li a img{
    width: 40px;
}
.m_side_wrap .quick_menu ul li a h4{
    font-size: 12px;
    font-weight: bold;
    color: #333;
    margin-top: 4px;
}
.m_side_wrap .m_gnb{
    width: 100%;
    height: 666px;
    position: relative;

}
.m_side_wrap .m_gnb>ul{
    width: calc(100% - 32px);
    border-radius: 28px 0;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 180px;
    transform: translateX(-50%);
}
.m_side_wrap .m_gnb>ul>li{
    border-bottom: 3px solid #f6f6f6;
}
.m_side_wrap .m_gnb>ul>li>a{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 22px;
    position: relative;
}
.m_side_wrap .m_gnb>ul>li>a::after{
    content: '';
    width: 10px;
    height: 10px;
    border: 2px solid #bbb;
    border-top: none;
    border-left: none;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    transition: all 0.3s ease-in-out;
}
.m_side_wrap .m_gnb>ul>li>a.on::after{
    border: 2px solid #009223;
    border-top: none;
    border-left: none;
    transform: translateY(-50%) rotate(225deg);
}
.m_side_wrap .m_gnb>ul>li>a img{
    width: 26px;
    height: 26px;
}
.m_side_wrap .m_gnb>ul>li>a h3{
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
.m_side_wrap .m_gnb>ul>li>.depth2{
    width: 100%;
    padding: 24px 0;
    display: flex;
    flex-flow: column;
    gap: 4px;
    display: none;
}
.m_side_wrap .m_gnb>ul>li>.depth2 li{
    width: 100%;
    height: 28px;
}
.m_side_wrap .m_gnb>ul>li>.depth2 li a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333;
    text-indent: 64px;
}

/* header */
.header{
    width: 100%;
    height: 69px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background: #fff;
}
.header h1 a{
    width: 161px;
    height: 33px;
    background: url('../images/logo_app.png') no-repeat;
    text-indent: -99999px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.header .cart{
    width: 27px;
    height: 27px;
    background: url('../images/icon_cart.png')no-repeat center;
    background-size: 27px 27px;
    text-indent: -99999px;
}
.header .all_menu{
    width: 28px;
    height: 24px;
    background: url('../images/ico_mTopetc04.png')no-repeat center;
    text-indent: -99999px;
}

/* tabbar */
.tabbar{
    width: 100%;
    height: 80px;
    background: url('../images/navi_bg.png') no-repeat;
    background-size: 100% 80px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 99;
}
.left_icon{
    display: flex;
}
.right_icon{
    display: flex;
    justify-content: right;
}
.tab_nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.tab_nav ul{
    width: 50%;
    height: 100%;
}
.tab_nav ul li{
    width: 40%;
    height: 100%;
}
.tab_nav ul li a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #c9c9c9;
}
.tab_nav .left_icon li a svg{
    fill: #c9c9c9;
}
.tab_nav .right_icon li a svg{
    stroke: #c9c9c9;
}
.tab_nav .left_icon li.on a svg,
.tab_nav .left_icon li.on a span{
    fill: #009223;
    stroke: #009223;
    color: #009223;
}
.tab_nav .right_icon li.on a svg,
.tab_nav .right_icon li.on a span{
    stroke: #009223;
    color: #009223;
}
.btn_order{
    width: 82px;
    height: 82px;
    border-radius: 100%;
    border: 14px solid rgba(0,0,0,0);
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%,-50%);
    background: #fff;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.btn_order img{
    width: 32px;
    height: 32px;
}
.btn_order span{
    font-size: 12px;
}
.cover{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    display: none;
    z-index: 99;
}